In [2]:
import pandas as pd
import sqlalchemy as sa
from pandas import DataFrame
from pandas import read_json, read_csv
import json
from sqlalchemy import create_engine

In [3]:
#1
departament = pd.read_table('C://Users//Дмитрий//Desktop//final_project//python_data//raw-department.txt', sep='-')
budget_1 = pd.read_json('C://Users//Дмитрий//Desktop//final_project//python_data//raw-department-budget.txt', lines=True)
budget_2 = pd.read_json('C://Users//Дмитрий//Desktop//final_project//python_data//raw-department-budget2.txt', orient='records')

print(departament,'\n')
print(budget_1,'\n')
print(budget_2)

   department_id department_name
0              1         General
1              2   Sales Support
2              3              IT

   sub_dep_id           sub_dep_name  department_id  budget
0           1               managers              1    3000
1           2              managers2              1    1500
2           1     sales support john              2    2000
3           2      sales support joe              2    1000
4           3  sales support johnson              2    2500
5           4  sales support eduards              2    2500

   sub_dep_id    sub_dep_name  department_id  budget
0           1    IT purchases              3    2000
1           2  IT maintenance              3    1500
2           3        IT other              3    1000

In [4]:
joint_budget = pd.concat([budget_1, budget_2],ignore_index = True)

In [5]:
detailed_budget = pd.merge(joint_budget, departament, on='department_id', how='outer')
total_budget = detailed_budget.groupby(["department_id","department_name"])["budget"].sum().reset_index(name='budget')
print(total_budget)

   department_id department_name  budget
0              1         General    4500
1              2   Sales Support    8000
2              3              IT    4500

In [6]:
engine = create_engine('postgresql://postgres:postgres@localhost/chinook')
total_budget.to_sql(name='budget', con=engine, schema='stg', if_exists='replace', index=False)

3